{{>head title=this}}
{{>header items=this }}
<section class="index-list">
	<h1 class="index-list__title">2.{{courseName}}</h1>
	<ol class="index-list__items">
		{{>img-item order="1" title="Automarketing"}}
		{{>img-item order="2" title="Identificación de habilidades" disabled=true}}
		{{>img-item order="3" title="Desarrollar mi propia marca" disabled=true}}
		{{>img-item order="4" title="Elevator Pitch" disabled=true}}
	</ol>
</section>
{{>foot}}