{{>head title=this}}
{{>header items=this }}
<section class="goals" data-bg="assets/images/background.png">
	<h1 class="goals__title">Objetivos</h1>
	<p class="goals__headline">Al final de este módulo, debes estar familiarizado con lo siguiente:</p>
	<ol class="goals__list" js-incremental-goal>
		<li class="goal goal--is-disabled">
			<a class="goal__link" href="#">
				<span class="goal__link-text">La importancia del auto-marketing</span>
			</a>
		</li>
		<li class="goal goal--is-disabled">
			<a class="goal__link" href="#">
				<span class="goal__link-text">Identificación de mis habilidades</span>
			</a>
		</li>
		<li class="goal goal--is-disabled">
			<a class="goal__link" href="#">
				<span class="goal__link-text">Pasos para el desarrollo de mi propia marca</span>
			</a>
		</li>
		<li class="goal goal--is-disabled">
			<a class="goal__link" href="#">
				<span class="goal__link-text">Desarrollo de mi discurso del ascensor</span>
			</a>
		</li>
		<li class="js-goal-trigger"></li>
	</ol>
</section>
{{>foot}}