<li class="marca-item{{#if disabled}} marca-item--is-disabled{{/if}}" data-bg="./assets/images/point{{order}}.png">
	<span class="marca-item__number">{{order}}.</span>
	<a class="marca-item__cover-link" href="">
		<span class="marca-item__name">
			{{title}}
		</span>
	</a>
</li>