</!DOCTYPE html>
<html lang="es_ES">
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	<meta charset="utf-8" />
	<meta name="title" content="{{ title.courseName }} {{ title.courseDesc }}" />
	<title>{{ title.courseName }} {{ title.courseDesc }}</title>
	<link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" />
	<link rel="stylesheet" href="./styles/style.css" />
</head>
<body>